{% extends 'layouts/auth.html' %}


{% block content %}
<div class="page-content">
    <section class="row">
      <div class="col-12 col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">sign up</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                    <h1 class="mb-3">Вход</h1>
                    <form method="post" class="needs-validation" novalidate>
                        {{ form.csrf_token }}
                        <div class="mb-3">
                            <label for="{{ form.email.id }}">Email</label>
                            {{ form.email(class="form-control", placeholder="Введите ваш Email", required="required") }}
                            <div class="invalid-feedback">
                                Введите корректный Email.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.password.id }}">Пароль</label>
                            {{ form.password(class="form-control", placeholder="Введите ваш пароль", required="required") }}
                            <div class="invalid-feedback">
                                Введите пароль.
                            </div>
                        </div>
                        {{ form.submit(class="btn btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>   
{% endblock content %}
    