{% extends 'layouts/base.html' %}


{% block content %}
<h1>Create a New Product</h1>
<form method="post" action="{{ url_for('products.create_product') }}">
    <label for="name">Name:</label>
    <input type="text" name="name" required><br>

    <label for="price">Price:</label>
    <input type="number" step="0.01" name="price" required><br>

    <label for="color">Color:</label>
    <input type="text" name="color" required><br>

    <label for="weight">Weight:</label>
    <input type="number" step="0.01" name="weight" required><br>

    <label for="description">Description:</label>
    <textarea name="description" required></textarea><br>

    <input type="submit" value="Create">
</form>
{% endblock content %}
    